<mat-accordion class="" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="align-content-center">
        <mat-icon class="mr-2">flare</mat-icon>
        {{service.name}} <span class="text-muted px-4">({{ service.available ? 'Available': 'Unavailable' }})</span>
      </mat-panel-title>
      <mat-panel-description>
        (Click to view details)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col col-2">
        <img [src]="getIcon()" width="100em" height="100em" class="rounded-circle mr-3" alt="service image">
      </div>
      <div class="col col-10 d-flex justify-content-around align-items-center flex-wrap">
        <p><span class="text-muted pr-2">Name: </span>{{ service.name }}</p>
        <p><span class="text-muted pr-2 pl-3">Price: </span> {{ service.price.amount }} ({{ service.price.currency}})
        </p>
        <button class="btn btn-sm btn-outline-warning ml-5 px-5 mb-3" (click)="edit(service.id)">Edit</button>
        <button class="btn btn-sm btn-outline-danger ml-2 px-4 mb-3" (click)="remove(service.id)">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col col-10 d-flex justify-content-around align-items-center flex-wrap">
        <p><span class="text-muted pr-2 pl-3">description: </span> {{ service.description }}</p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
