<!-- <div class="text-center mt-5">
    <h1 class="">Login</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" required [formControl]="email">
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-hint>user@example.com</mat-hint>
              <mat-error *ngIf="email.invalid">Wrong email format</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="password" required [formControl]="password">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
          </p>
          <div>
              <button type="submit" class="btn btn-primary btn-lg">Log in</button>
          </div>
    </form>
</div>

<div class="text-center my-5">
    <h4 class="mb-5">- or -</h4>
    <a routerLink="/pet-owner/sign-up" class="btn btn-outline-primary btn-lg">Sign Up</a>
</div> -->